.row {
  display: flex;
  flex-wrap: wrap; }
  .row .col {
    flex: 0 0 100%;
    max-width: 100%; }
    .row .col.col-right {
      flex: 0 0 50%;
      max-width: 50%;
      background-color: aqua;
      height: 300px; }
      @media screen and (max-width: 1000px) {
        .row .col.col-right {
          flex: 0 0 100%;
          max-width: 100%; } }
    .row .col.col-left {
      flex: 0 0 50%;
      max-width: 50%;
      background-color: red;
      height: 300px; }
      @media screen and (max-width: 1000px) {
        .row .col.col-left {
          flex: 0 0 100%;
          max-width: 100%; } }
